body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #272727; /* Dark Background */
  color: #fff;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.container {
  background-color: #2c2c2c; /* Darker Container Background */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 30px;
  width: 600px;
  max-width: 90%;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db; /* Blue */
  color: #ffffff;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9; /* Darker Blue */
}

#quiz-container {
  display: none;
}

#result-container {
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
}

#result-container .score {
  font-weight: bold;
}